body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-family: "roboto", sans-serif;
}

.box {
    width: 700px;
    display: flex;
    align-items: center;
    box-sizing: border-box;


}

.one {
    background: #1f2937;
    color: #f9faf8;
}

    .header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 170px;
    
    }

        .logo {
            margin-left: 100px;
            font-weight: 700;
            font-size: 14px;
            margin-top: 10px;
        }

        .links {
            margin-right: 100px;
            font-size: 10px;
            margin-top: 10px;
            display: flex;
            gap: 10px;
        }


.two {
    background: white;
}

.three {
    background: #e5e7eb;
    padding: 50px 150px;
    display: flex;
    flex-wrap: wrap;
}

    .quote {
    font-size: 18px;
    color: #1f2937;
    font-style: italic;
    font-weight: 50;
    }

    .author {
    font-weight: 700;
    font-size: 14px;
    color: #1f2937;
    display: flex;
    justify-content: end;
    width: 400px;
    }

.four {
    background: white;
}