body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-family: "roboto", sans-serif;
}

.box {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;


}

.one {
    background: #1f2937;
    color: white;
}

.two {
    background: white;
}

.three {
    background: #e5e7eb;
    padding: 50px 150px;
    display: flex;
    flex-wrap: wrap;
}

    .quote {
    font-size: 18px;
    color: #1f2937;
    font-style: italic;
    font-weight: 50;
    }

    .author {
    font-weight: 700;
    font-size: 14px;
    color: #1f2937;
    display: flex;
    justify-content: end;
    width: 400px;
    }

.four {
    background: white;
}